SFL-FRATIS-OPT-master/Source Code/FRATIS-SFL-SOURCE/PAI.FRATIS.Wrappers.WebFleet/Service References/AddressService/addressService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://connect.webfleet.tomtomwork.com/services" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="addressService" targetDisplayNamespace="http://connect.webfleet.tomtomwork.com/services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns:tns="http://connect.webfleet.tomtomwork.com/parameters/addresses" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://connect.webfleet.tomtomwork.com/parameters" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetDisplayNamespace="http://connect.webfleet.tomtomwork.com/parameters/addresses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import xmlns="http://www.w3.org/2001/XMLSchema" namespace="http://www.w3.org/2001/XMLSchema-instance" />
      <xs:import namespace="http://connect.webfleet.tomtomwork.com/parameters" />
      <xs:complexType name="RoutingParameter">
        <xs:complexContent mixed="false">
          <xs:extension base="ns1:ParameterBase">
            <xs:sequence>
              <xs:element name="startLongitude" type="xs:int" />
              <xs:element name="startLatitude" type="xs:int" />
              <xs:element name="endLongitude" type="xs:int" />
              <xs:element name="endLatitude" type="xs:int" />
              <xs:element minOccurs="0" name="startDateTime" nillable="true" type="xs:dateTime" />
              <xs:element minOccurs="0" name="useTraffic" nillable="true" type="xs:boolean" />
              <xs:element minOccurs="0" name="useTollRoads" nillable="true" type="xs:boolean" />
              <xs:element minOccurs="0" name="useIQR" nillable="true" type="xs:boolean" />
              <xs:element minOccurs="0" name="startTime" nillable="true" type="xs:string" />
              <xs:element minOccurs="0" default="today" name="startDay" nillable="true" type="ns1:RouteDay" />
              <xs:element minOccurs="0" default="Quickest" name="routeType" nillable="true" type="ns1:RouteType" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="BasicLocationParameter">
        <xs:complexContent mixed="false">
          <xs:extension base="ns1:ParameterBase">
            <xs:sequence>
              <xs:element minOccurs="0" name="street" nillable="true" type="xs:string" />
              <xs:element minOccurs="0" default="" name="postcode" nillable="true" type="xs:string" />
              <xs:element minOccurs="0" default="" name="city" nillable="true" type="xs:string" />
              <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
              <xs:element minOccurs="0" name="streetNumber" nillable="true" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="StreetAddressFilterParameter">
        <xs:complexContent mixed="false">
          <xs:extension base="ns1:FilterParameter">
            <xs:sequence>
              <xs:element minOccurs="0" default="" name="addressGroupDisplayName" nillable="true" type="xs:string" />
              <xs:element minOccurs="0" name="ungroupedOnly" nillable="true" type="xs:boolean" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="GeocodingByProviderParameter">
        <xs:complexContent mixed="false">
          <xs:extension base="ns1:ParameterBase">
            <xs:sequence>
              <xs:element minOccurs="0" name="street" nillable="true" type="xs:string" />
              <xs:element minOccurs="0" name="postcode" nillable="true" type="xs:string" />
              <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
              <xs:element name="countryCode" type="xs:string" />
              <xs:element minOccurs="0" name="streetNumber" nillable="true" type="xs:string" />
              <xs:element minOccurs="0" name="provider" nillable="true" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="ContactParameter">
        <xs:complexContent mixed="false">
          <xs:extension base="ns1:ParameterBase">
            <xs:sequence />
            <xs:attribute name="contactDisplayName" type="xs:string" />
            <xs:attribute name="contactTel" type="xs:string" />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="GeoPositionParameter">
        <xs:complexContent mixed="false">
          <xs:extension base="ns1:ParameterBase">
            <xs:sequence />
            <xs:attribute name="latitude" type="xs:int" use="required" />
            <xs:attribute name="longitude" type="xs:int" use="required" />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="LocationParameter">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:BasicLocationParameter">
            <xs:sequence>
              <xs:element name="geoPosition" type="tns:GeoPositionParameter" />
              <xs:element minOccurs="0" name="contact" nillable="true" type="tns:ContactParameter" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:tns="http://connect.webfleet.tomtomwork.com/transfer" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://connect.webfleet.tomtomwork.com/parameters" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetDisplayNamespace="http://connect.webfleet.tomtomwork.com/transfer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import xmlns="http://www.w3.org/2001/XMLSchema" namespace="http://www.w3.org/2001/XMLSchema-instance" />
      <xs:import namespace="http://connect.webfleet.tomtomwork.com/parameters" />
      <xs:complexType name="TransferObjectBase">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="GenericServiceQueryOpResult">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:ServiceQueryOpResult">
            <xs:sequence>
              <xs:element minOccurs="0" name="results" nillable="true">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="resultItem" type="tns:TransferObjectBase" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="ServiceQueryOpResult">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:ServiceOpResult">
            <xs:sequence>
              <xs:element default="0" name="resultSize" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="ServiceOpResult" abstract="true">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:TransferObjectBase">
            <xs:sequence>
              <xs:element default="-1" name="statusCode" type="xs:int" />
              <xs:element minOccurs="0" name="statusMessage" nillable="true" type="xs:string" />
              <xs:element minOccurs="0" name="errors" nillable="true">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="errorInfo" type="tns:ErrorInfo" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="ErrorInfo">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:TransferObjectBase">
            <xs:sequence>
              <xs:element default="" name="msg" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="objectDisplayName" type="xs:string" />
            <xs:attribute name="fieldDisplayName" type="xs:string" />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="GenericServiceWriteOpResult">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:ServiceWriteOpResult">
            <xs:sequence>
              <xs:element minOccurs="0" name="failed" nillable="true" type="tns:TransferObjectBase" />
              <xs:element minOccurs="0" name="succeeded" nillable="true" type="tns:TransferObjectBase" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="ServiceWriteOpResult">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:ServiceOpResult">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="RoutingData">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:TransferObjectBase">
            <xs:sequence>
              <xs:element name="endDateTime" type="xs:dateTime" />
              <xs:element name="endDay" type="ns1:RouteDay" />
              <xs:element name="distance" type="xs:long" />
              <xs:element name="time" type="xs:int" />
              <xs:element minOccurs="0" name="endTime" type="xs:string" />
              <xs:element name="delay" type="xs:long" />
              <xs:element name="timeZoneOffset" type="xs:long" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="KeyValuePair">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:TransferObjectBase">
            <xs:sequence />
            <xs:attribute name="key" type="xs:string" />
            <xs:attribute name="value" type="xs:string" />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:tns="http://connect.webfleet.tomtomwork.com/transfer/positions" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://connect.webfleet.tomtomwork.com/transfer" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetDisplayNamespace="http://connect.webfleet.tomtomwork.com/transfer/positions" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import xmlns="http://www.w3.org/2001/XMLSchema" namespace="http://www.w3.org/2001/XMLSchema-instance" />
      <xs:import namespace="http://connect.webfleet.tomtomwork.com/transfer" />
      <xs:complexType name="GeoPosition">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:BasicGeoPosition">
            <xs:sequence>
              <xs:element minOccurs="0" name="latitudeHumanReadable" nillable="true" type="xs:string" />
              <xs:element minOccurs="0" name="longitudeHumanReadable" nillable="true" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="BasicGeoPosition">
        <xs:complexContent mixed="false">
          <xs:extension base="ns1:TransferObjectBase">
            <xs:sequence>
              <xs:element minOccurs="0" name="latitude" nillable="true" type="xs:int" />
              <xs:element minOccurs="0" name="longitude" nillable="true" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="BasicStartAndEndPosition">
        <xs:complexContent mixed="false">
          <xs:extension base="ns1:TransferObjectBase">
            <xs:sequence>
              <xs:element minOccurs="0" name="startPosText" type="xs:string" />
              <xs:element minOccurs="0" name="startDateAndTime" type="xs:dateTime" />
              <xs:element minOccurs="0" name="endPosText" type="xs:string" />
              <xs:element minOccurs="0" name="endDateAndTime" type="xs:dateTime" />
              <xs:element minOccurs="0" name="duration" type="xs:long" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="BasicStartAndEndPosWithCoordinates">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:BasicStartAndEndPosition">
            <xs:sequence>
              <xs:element minOccurs="0" name="startPos" nillable="true" type="tns:BasicGeoPosition" />
              <xs:element minOccurs="0" name="endPos" nillable="true" type="tns:BasicGeoPosition" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="StartAndEndPosition">
        <xs:complexContent mixed="false">
          <xs:extension base="ns1:TransferObjectBase">
            <xs:sequence>
              <xs:element minOccurs="0" name="startOdometer" type="xs:int" />
              <xs:element minOccurs="0" name="startPosText" type="xs:string" />
              <xs:element minOccurs="0" name="startDateAndTime" type="xs:dateTime" />
              <xs:element minOccurs="0" name="endOdometer" type="xs:int" />
              <xs:element minOccurs="0" name="endPosText" type="xs:string" />
              <xs:element minOccurs="0" name="endDateAndTime" type="xs:dateTime" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="StartAndEndPosWithCoordinates">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:StartAndEndPosition">
            <xs:sequence>
              <xs:element minOccurs="0" name="startPos" nillable="true" type="tns:GeoPosition" />
              <xs:element minOccurs="0" name="endPos" nillable="true" type="tns:GeoPosition" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="Travel">
        <xs:complexContent mixed="false">
          <xs:extension base="ns1:TransferObjectBase">
            <xs:sequence>
              <xs:element minOccurs="0" name="speed" type="xs:int" />
              <xs:element minOccurs="0" name="course" type="xs:int" />
              <xs:element minOccurs="0" name="direction" type="tns:IntercardinalDirections" />
              <xs:element minOccurs="0" name="odometer" type="xs:int" />
              <xs:element minOccurs="0" name="estimatedArrivalTime" type="xs:dateTime" />
              <xs:element minOccurs="0" name="distance" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:simpleType name="GPSSignalStatus">
        <xs:restriction base="xs:string">
          <xs:enumeration value="OK" />
          <xs:enumeration value="WARN" />
          <xs:enumeration value="LAST" />
          <xs:enumeration value="INVALID" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="IntercardinalDirections">
        <xs:restriction base="xs:string">
          <xs:enumeration value="NORTH" />
          <xs:enumeration value="NORTHEAST" />
          <xs:enumeration value="EAST" />
          <xs:enumeration value="SOUTHEAST" />
          <xs:enumeration value="SOUTH" />
          <xs:enumeration value="SOUTHWEST" />
          <xs:enumeration value="WEST" />
          <xs:enumeration value="NORTHWEST" />
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
    <xs:schema xmlns:ns2="http://connect.webfleet.tomtomwork.com/transfer" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://connect.webfleet.tomtomwork.com/transfer/orders" xmlns:ns1="http://connect.webfleet.tomtomwork.com/transfer/positions" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetDisplayNamespace="http://connect.webfleet.tomtomwork.com/transfer/orders" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://connect.webfleet.tomtomwork.com/transfer/positions" />
      <xs:import namespace="http://connect.webfleet.tomtomwork.com/transfer" />
      <xs:complexType name="BasicPosition">
        <xs:complexContent mixed="false">
          <xs:extension base="ns2:TransferObjectBase">
            <xs:sequence>
              <xs:element minOccurs="0" name="geoPosition" nillable="true" type="ns1:GeoPosition" />
              <xs:element minOccurs="0" name="dateAndTime" type="xs:dateTime" />
              <xs:element minOccurs="0" name="textualRepresentation" type="xs:string" />
              <xs:element minOccurs="0" name="shortTextualRepresentation" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="type" type="xs:int" />
            <xs:attribute name="altitude" type="xs:string" />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="GPSFix">
        <xs:complexContent mixed="false">
          <xs:extension base="ns2:TransferObjectBase">
            <xs:sequence>
              <xs:element minOccurs="0" name="quality" type="xs:string" />
              <xs:element minOccurs="0" name="satellite" type="xs:string" />
              <xs:element minOccurs="0" name="signalStatus" type="ns1:GPSSignalStatus" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:tns="http://connect.webfleet.tomtomwork.com/parameters" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetDisplayNamespace="http://connect.webfleet.tomtomwork.com/parameters" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import xmlns="http://www.w3.org/2001/XMLSchema" namespace="http://www.w3.org/2001/XMLSchema-instance" />
      <xs:complexType name="AuthenticationParameters">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:ParameterBase">
            <xs:sequence>
              <xs:element minOccurs="0" default="" name="accountDisplayName" nillable="true" type="xs:string" />
              <xs:element minOccurs="0" default="" name="sessionToken" nillable="true" type="xs:string" />
              <xs:element minOccurs="0" default="" name="UserName" nillable="true" type="xs:string" />
              <xs:element minOccurs="0" default="" name="password" nillable="true" type="xs:string" />
              <xs:element minOccurs="0" name="apiKey" nillable="true" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="ParameterBase" abstract="true">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="GeneralParameters">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:ParameterBase">
            <xs:sequence>
              <xs:element minOccurs="0" default="UK" name="locale" type="tns:KnownLocales" />
              <xs:element minOccurs="0" default="Europe_London" name="timeZone" type="tns:KnownTimeZones" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="FilterParameter">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:ParameterBase">
            <xs:sequence>
              <xs:element minOccurs="0" default="" name="filterCriterion" nillable="true" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="AdvancedDeleteStreetAddressGroupParameter">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:ParameterBase">
            <xs:sequence>
              <xs:element minOccurs="0" name="deleteStreetAddresses" nillable="true" type="xs:boolean" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="DateRange">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:ParameterBase">
            <xs:sequence>
              <xs:element minOccurs="0" name="from" nillable="true" type="xs:dateTime" />
              <xs:element minOccurs="0" name="to" nillable="true" type="xs:dateTime" />
              <xs:element minOccurs="0" name="year" nillable="true" type="xs:int" />
              <xs:element minOccurs="0" name="month" nillable="true" type="xs:int" />
              <xs:element minOccurs="0" name="day" nillable="true" type="xs:int" />
            </xs:sequence>
            <xs:attribute name="rangePattern" type="tns:DateRangePattern" />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="ResultQuantifierParameter" abstract="true">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:ParameterBase">
            <xs:sequence>
              <xs:element default="false" name="retrieveIdOnly" type="xs:boolean" />
              <xs:element default="true" name="retrieveShallowestValues" type="xs:boolean" />
              <xs:element default="false" name="retrieveMostCompleteValues" type="xs:boolean" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="ManagedEventLevelParameter">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:ParameterBase">
            <xs:sequence />
            <xs:attribute name="value" type="tns:EventLevel" />
            <xs:attribute name="setNull" type="xs:boolean" use="required" />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:simpleType name="KnownLocales">
        <xs:restriction base="xs:string">
          <xs:enumeration value="UK" />
          <xs:enumeration value="DE" />
          <xs:enumeration value="FR" />
          <xs:enumeration value="ES" />
          <xs:enumeration value="DK" />
          <xs:enumeration value="IT" />
          <xs:enumeration value="NO" />
          <xs:enumeration value="RU" />
          <xs:enumeration value="PL" />
          <xs:enumeration value="US" />
          <xs:enumeration value="UAE" />
          <xs:enumeration value="NL" />
          <xs:enumeration value="ZA" />
          <xs:enumeration value="NA" />
          <xs:enumeration value="MZ" />
          <xs:enumeration value="ZM" />
          <xs:enumeration value="ZW" />
          <xs:enumeration value="TZ" />
          <xs:enumeration value="KE" />
          <xs:enumeration value="AU" />
          <xs:enumeration value="NZ" />
          <xs:enumeration value="IN" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="KnownTimeZones">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Etc_UTC" />
          <xs:enumeration value="Europe_Amsterdam" />
          <xs:enumeration value="Europe_Andorra" />
          <xs:enumeration value="Europe_Belgrade" />
          <xs:enumeration value="Europe_Berlin" />
          <xs:enumeration value="Europe_Bratislava" />
          <xs:enumeration value="Europe_Brussels" />
          <xs:enumeration value="Europe_Budapest" />
          <xs:enumeration value="Europe_Copenhagen" />
          <xs:enumeration value="Europe_Gibraltar" />
          <xs:enumeration value="Europe_Ljubljana" />
          <xs:enumeration value="Europe_Luxembourg" />
          <xs:enumeration value="Europe_Madrid" />
          <xs:enumeration value="Europe_Malta" />
          <xs:enumeration value="Europe_Monaco" />
          <xs:enumeration value="Europe_Oslo" />
          <xs:enumeration value="Europe_Paris" />
          <xs:enumeration value="Europe_Prague" />
          <xs:enumeration value="Europe_Rome" />
          <xs:enumeration value="Europe_San_Marino" />
          <xs:enumeration value="Europe_Sarajevo" />
          <xs:enumeration value="Europe_Skopje" />
          <xs:enumeration value="Europe_Stockholm" />
          <xs:enumeration value="Europe_Tirane" />
          <xs:enumeration value="Europe_Vaduz" />
          <xs:enumeration value="Europe_Vatican" />
          <xs:enumeration value="Europe_Vienna" />
          <xs:enumeration value="Europe_Warsaw" />
          <xs:enumeration value="Europe_Zagreb" />
          <xs:enumeration value="Europe_Zurich" />
          <xs:enumeration value="Europe_Belfast" />
          <xs:enumeration value="Europe_Dublin" />
          <xs:enumeration value="Europe_Lisbon" />
          <xs:enumeration value="Europe_London" />
          <xs:enumeration value="Europe_Athens" />
          <xs:enumeration value="Europe_Bucharest" />
          <xs:enumeration value="Europe_Helsinki" />
          <xs:enumeration value="Europe_Istanbul" />
          <xs:enumeration value="Europe_Kiev" />
          <xs:enumeration value="Europe_Minsk" />
          <xs:enumeration value="Europe_Nicosia" />
          <xs:enumeration value="Europe_Riga" />
          <xs:enumeration value="Europe_Sofia" />
          <xs:enumeration value="Europe_Tallinn" />
          <xs:enumeration value="Europe_Vilnius" />
          <xs:enumeration value="Europe_Moscow" />
          <xs:enumeration value="Atlantic_Reykjavik" />
          <xs:enumeration value="America_Halifax" />
          <xs:enumeration value="America_Winnipeg" />
          <xs:enumeration value="America_Toronto" />
          <xs:enumeration value="America_Edmonton" />
          <xs:enumeration value="America_St_Johns" />
          <xs:enumeration value="America_Vancouver" />
          <xs:enumeration value="America_Regina" />
          <xs:enumeration value="America_Whitehorse" />
          <xs:enumeration value="America_Puerto_Rico" />
          <xs:enumeration value="America_Chicago" />
          <xs:enumeration value="America_New_York" />
          <xs:enumeration value="America_Denver" />
          <xs:enumeration value="America_Los_Angeles" />
          <xs:enumeration value="America_Anchorage" />
          <xs:enumeration value="America_Adak" />
          <xs:enumeration value="Pacific_Honolulu" />
          <xs:enumeration value="Asia_Tokyo" />
          <xs:enumeration value="Asia_Dubai" />
          <xs:enumeration value="Asia_Hong_Kong" />
          <xs:enumeration value="Asia_Shanghai" />
          <xs:enumeration value="Asia_Taipei" />
          <xs:enumeration value="Asia_Seoul" />
          <xs:enumeration value="Asia_Jerusalem" />
          <xs:enumeration value="Africa_Johannesburg" />
          <xs:enumeration value="Africa_Windhoek" />
          <xs:enumeration value="Africa_Maputo" />
          <xs:enumeration value="Africa_Lusaka" />
          <xs:enumeration value="Africa_Harare" />
          <xs:enumeration value="Africa_Dar_es_Salaam" />
          <xs:enumeration value="Africa_Nairobi" />
          <xs:enumeration value="Australia_ACT" />
          <xs:enumeration value="Australia_Adelaide" />
          <xs:enumeration value="Australia_Brisbane" />
          <xs:enumeration value="Australia_Broken_Hill" />
          <xs:enumeration value="Australia_Canberra" />
          <xs:enumeration value="Australia_Currie" />
          <xs:enumeration value="Australia_Darwin" />
          <xs:enumeration value="Australia_Eucla" />
          <xs:enumeration value="Australia_Hobart" />
          <xs:enumeration value="Australia_LHI" />
          <xs:enumeration value="Australia_Lindeman" />
          <xs:enumeration value="Australia_Lord_Howe" />
          <xs:enumeration value="Australia_Melbourne" />
          <xs:enumeration value="Australia_NSW" />
          <xs:enumeration value="Australia_North" />
          <xs:enumeration value="Australia_Perth" />
          <xs:enumeration value="Australia_Queensland" />
          <xs:enumeration value="Australia_South" />
          <xs:enumeration value="Australia_Sydney" />
          <xs:enumeration value="Australia_Tasmania" />
          <xs:enumeration value="Australia_Victoria" />
          <xs:enumeration value="Australia_West" />
          <xs:enumeration value="Australia_Yancowinna" />
          <xs:enumeration value="Pacific_Auckland" />
          <xs:enumeration value="IST" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="RouteDay">
        <xs:restriction base="xs:string">
          <xs:enumeration value="today" />
          <xs:enumeration value="tomorrow" />
          <xs:enumeration value="mon" />
          <xs:enumeration value="tue" />
          <xs:enumeration value="wed" />
          <xs:enumeration value="thu" />
          <xs:enumeration value="fri" />
          <xs:enumeration value="sat" />
          <xs:enumeration value="sun" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="RouteType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Quickest" />
          <xs:enumeration value="Shortest" />
          <xs:enumeration value="AvoidMotorway" />
          <xs:enumeration value="Walk" />
          <xs:enumeration value="Bicycle" />
          <xs:enumeration value="SpeedLimited" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="DateRangePattern">
        <xs:restriction base="xs:string">
          <xs:enumeration value="UD" />
          <xs:enumeration value="D0" />
          <xs:enumeration value="Dm1" />
          <xs:enumeration value="Dm2" />
          <xs:enumeration value="Dm3" />
          <xs:enumeration value="Dm4" />
          <xs:enumeration value="Dm5" />
          <xs:enumeration value="Dm6" />
          <xs:enumeration value="W0" />
          <xs:enumeration value="Wm1" />
          <xs:enumeration value="Wm2" />
          <xs:enumeration value="Wm3" />
          <xs:enumeration value="WF0" />
          <xs:enumeration value="WFm1" />
          <xs:enumeration value="WFm2" />
          <xs:enumeration value="WFm3" />
          <xs:enumeration value="M0" />
          <xs:enumeration value="Mm1" />
          <xs:enumeration value="Mm2" />
          <xs:enumeration value="Mm3" />
          <xs:enumeration value="Mm4" />
          <xs:enumeration value="Mm5" />
          <xs:enumeration value="Mm6" />
          <xs:enumeration value="Mm7" />
          <xs:enumeration value="Mm8" />
          <xs:enumeration value="Mm9" />
          <xs:enumeration value="Y0" />
          <xs:enumeration value="Ym1" />
          <xs:enumeration value="Ym2" />
          <xs:enumeration value="Ym3" />
          <xs:enumeration value="Ym4" />
          <xs:enumeration value="Ym5" />
          <xs:enumeration value="Ym6" />
          <xs:enumeration value="Ym7" />
          <xs:enumeration value="Ym8" />
          <xs:enumeration value="Ym9" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="EventLevel">
        <xs:restriction base="xs:string">
          <xs:enumeration value="I" />
          <xs:enumeration value="W" />
          <xs:enumeration value="A_1" />
          <xs:enumeration value="A_2" />
          <xs:enumeration value="A_3" />
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
    <xs:schema xmlns:ns2="http://connect.webfleet.tomtomwork.com/transfer/addresses" xmlns:ns1="http://connect.webfleet.tomtomwork.com/transfer" xmlns:ns0="http://connect.webfleet.tomtomwork.com/parameters" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://connect.webfleet.tomtomwork.com/services" xmlns:ns3="http://connect.webfleet.tomtomwork.com/parameters/addresses" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetDisplayNamespace="http://connect.webfleet.tomtomwork.com/services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://connect.webfleet.tomtomwork.com/parameters" />
      <xs:import namespace="http://connect.webfleet.tomtomwork.com/transfer" />
      <xs:import namespace="http://connect.webfleet.tomtomwork.com/transfer/addresses" />
      <xs:import namespace="http://connect.webfleet.tomtomwork.com/parameters/addresses" />
      <xs:complexType name="timeZone" abstract="true">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:string" />
          <xs:element name="rawOffset" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="showStreetAddressGroupReport" type="tns:showStreetAddressGroupReport" />
      <xs:complexType name="showStreetAddressGroupReport">
        <xs:sequence>
          <xs:element minOccurs="0" name="aParm" type="ns0:AuthenticationParameters" />
          <xs:element minOccurs="0" name="gParm" type="ns0:GeneralParameters" />
          <xs:element minOccurs="0" name="filter" type="ns0:FilterParameter" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="showStreetAddressGroupReportResponse" type="tns:showStreetAddressGroupReportResponse" />
      <xs:complexType name="showStreetAddressGroupReportResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="ns1:GenericServiceQueryOpResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="deleteStreetAddress" type="tns:deleteStreetAddress" />
      <xs:complexType name="deleteStreetAddress">
        <xs:sequence>
          <xs:element minOccurs="0" name="aParm" type="ns0:AuthenticationParameters" />
          <xs:element minOccurs="0" name="gParm" type="ns0:GeneralParameters" />
          <xs:element minOccurs="0" name="addressToDelete" type="ns2:StreetAddressIdentity" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="deleteStreetAddressResponse" type="tns:deleteStreetAddressResponse" />
      <xs:complexType name="deleteStreetAddressResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="ns1:GenericServiceWriteOpResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="calcRouteSimple" type="tns:calcRouteSimple" />
      <xs:complexType name="calcRouteSimple">
        <xs:sequence>
          <xs:element minOccurs="0" name="aParm" type="ns0:AuthenticationParameters" />
          <xs:element minOccurs="0" name="gParm" type="ns0:GeneralParameters" />
          <xs:element minOccurs="0" name="routeToCalculate" type="ns3:RoutingParameter" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="calcRouteSimpleResponse" type="tns:calcRouteSimpleResponse" />
      <xs:complexType name="calcRouteSimpleResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="ns1:GenericServiceQueryOpResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="showStreetAddressGroupStreetAddressReport" type="tns:showStreetAddressGroupStreetAddressReport" />
      <xs:complexType name="showStreetAddressGroupStreetAddressReport">
        <xs:sequence>
          <xs:element minOccurs="0" name="aParm" type="ns0:AuthenticationParameters" />
          <xs:element minOccurs="0" name="gParm" type="ns0:GeneralParameters" />
          <xs:element minOccurs="0" name="filter" type="ns0:FilterParameter" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="showStreetAddressGroupStreetAddressReportResponse" type="tns:showStreetAddressGroupStreetAddressReportResponse" />
      <xs:complexType name="showStreetAddressGroupStreetAddressReportResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="ns1:GenericServiceQueryOpResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="geocodeLocation" type="tns:geocodeLocation" />
      <xs:complexType name="geocodeLocation">
        <xs:sequence>
          <xs:element minOccurs="0" name="aParm" type="ns0:AuthenticationParameters" />
          <xs:element minOccurs="0" name="gParm" type="ns0:GeneralParameters" />
          <xs:element minOccurs="0" name="locationToGeocode" type="ns3:BasicLocationParameter" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="geocodeLocationResponse" type="tns:geocodeLocationResponse" />
      <xs:complexType name="geocodeLocationResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="ns1:GenericServiceQueryOpResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="insertStreetAddressGroup" type="tns:insertStreetAddressGroup" />
      <xs:complexType name="insertStreetAddressGroup">
        <xs:sequence>
          <xs:element minOccurs="0" name="aParm" type="ns0:AuthenticationParameters" />
          <xs:element minOccurs="0" name="gParm" type="ns0:GeneralParameters" />
          <xs:element minOccurs="0" name="addressGroupToInsert" type="ns2:StreetAddressGroup" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="insertStreetAddressGroupResponse" type="tns:insertStreetAddressGroupResponse" />
      <xs:complexType name="insertStreetAddressGroupResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="ns1:GenericServiceWriteOpResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="updateStreetAddress" type="tns:updateStreetAddress" />
      <xs:complexType name="updateStreetAddress">
        <xs:sequence>
          <xs:element minOccurs="0" name="aParm" type="ns0:AuthenticationParameters" />
          <xs:element minOccurs="0" name="gParm" type="ns0:GeneralParameters" />
          <xs:element minOccurs="0" name="addressToUpdate" type="ns2:StreetAddress" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="updateStreetAddressResponse" type="tns:updateStreetAddressResponse" />
      <xs:complexType name="updateStreetAddressResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="ns1:GenericServiceWriteOpResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="deleteStreetAddressGroup" type="tns:deleteStreetAddressGroup" />
      <xs:complexType name="deleteStreetAddressGroup">
        <xs:sequence>
          <xs:element minOccurs="0" name="aParm" type="ns0:AuthenticationParameters" />
          <xs:element minOccurs="0" name="gParm" type="ns0:GeneralParameters" />
          <xs:element minOccurs="0" name="addressGroupToDelete" type="ns2:StreetAddressGroup" />
          <xs:element minOccurs="0" name="advancedDeleteStreetAddressGroupParm" type="ns0:AdvancedDeleteStreetAddressGroupParameter" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="deleteStreetAddressGroupResponse" type="tns:deleteStreetAddressGroupResponse" />
      <xs:complexType name="deleteStreetAddressGroupResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="ns1:GenericServiceWriteOpResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="detachStreetAddressFromGroup" type="tns:detachStreetAddressFromGroup" />
      <xs:complexType name="detachStreetAddressFromGroup">
        <xs:sequence>
          <xs:element minOccurs="0" name="aParm" type="ns0:AuthenticationParameters" />
          <xs:element minOccurs="0" name="gParm" type="ns0:GeneralParameters" />
          <xs:element minOccurs="0" name="pairToSplit" type="ns2:StreetAddressToGroupRelationship" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="detachStreetAddressFromGroupResponse" type="tns:detachStreetAddressFromGroupResponse" />
      <xs:complexType name="detachStreetAddressFromGroupResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="ns1:GenericServiceWriteOpResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="showStreetAddressReport" type="tns:showStreetAddressReport" />
      <xs:complexType name="showStreetAddressReport">
        <xs:sequence>
          <xs:element minOccurs="0" name="aParm" type="ns0:AuthenticationParameters" />
          <xs:element minOccurs="0" name="gParm" type="ns0:GeneralParameters" />
          <xs:element minOccurs="0" name="addressFilter" type="ns3:StreetAddressFilterParameter" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="showStreetAddressReportResponse" type="tns:showStreetAddressReportResponse" />
      <xs:complexType name="showStreetAddressReportResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="ns1:GenericServiceQueryOpResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="attachStreetAddressToGroup" type="tns:attachStreetAddressToGroup" />
      <xs:complexType name="attachStreetAddressToGroup">
        <xs:sequence>
          <xs:element minOccurs="0" name="aParm" type="ns0:AuthenticationParameters" />
          <xs:element minOccurs="0" name="gParm" type="ns0:GeneralParameters" />
          <xs:element minOccurs="0" name="newPairToJoin" type="ns2:StreetAddressToGroupRelationship" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="attachStreetAddressToGroupResponse" type="tns:attachStreetAddressToGroupResponse" />
      <xs:complexType name="attachStreetAddressToGroupResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="ns1:GenericServiceWriteOpResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="geocodeStreetAddress" type="tns:geocodeStreetAddress" />
      <xs:complexType name="geocodeStreetAddress">
        <xs:sequence>
          <xs:element minOccurs="0" name="aParm" type="ns0:AuthenticationParameters" />
          <xs:element minOccurs="0" name="gParm" type="ns0:GeneralParameters" />
          <xs:element minOccurs="0" name="locationToGeocode" type="ns3:GeocodingByProviderParameter" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="geocodeStreetAddressResponse" type="tns:geocodeStreetAddressResponse" />
      <xs:complexType name="geocodeStreetAddressResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="ns1:GenericServiceQueryOpResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="insertStreetAddress" type="tns:insertStreetAddress" />
      <xs:complexType name="insertStreetAddress">
        <xs:sequence>
          <xs:element minOccurs="0" name="aParm" type="ns0:AuthenticationParameters" />
          <xs:element minOccurs="0" name="gParm" type="ns0:GeneralParameters" />
          <xs:element minOccurs="0" name="addressToInsert" type="ns2:StreetAddress" />
          <xs:element minOccurs="0" name="groupToAttachTo" type="ns2:StreetAddressGroup" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="insertStreetAddressResponse" type="tns:insertStreetAddressResponse" />
      <xs:complexType name="insertStreetAddressResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="ns1:GenericServiceWriteOpResult" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:tns="http://connect.webfleet.tomtomwork.com/transfer/addresses" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns2="http://connect.webfleet.tomtomwork.com/transfer/positions" xmlns:ns1="http://connect.webfleet.tomtomwork.com/transfer" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetDisplayNamespace="http://connect.webfleet.tomtomwork.com/transfer/addresses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import xmlns="http://www.w3.org/2001/XMLSchema" namespace="http://www.w3.org/2001/XMLSchema-instance" />
      <xs:import namespace="http://connect.webfleet.tomtomwork.com/transfer" />
      <xs:import namespace="http://connect.webfleet.tomtomwork.com/transfer/positions" />
      <xs:complexType name="StreetAddressGroup">
        <xs:complexContent mixed="false">
          <xs:extension base="ns1:TransferObjectBase">
            <xs:sequence />
            <xs:attribute name="uniqueDisplayName" type="xs:string" use="required" />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="StreetAddressIdentity">
        <xs:complexContent mixed="false">
          <xs:extension base="ns1:TransferObjectBase">
            <xs:sequence />
            <xs:attribute name="addressNo" type="xs:string" use="required" />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="StreetAddressToGroupRelationship">
        <xs:complexContent mixed="false">
          <xs:extension base="ns1:TransferObjectBase">
            <xs:sequence>
              <xs:element name="address" type="tns:StreetAddressIdentity" />
              <xs:element name="group" type="tns:StreetAddressGroup" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="CompleteLocation">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:Location">
            <xs:sequence>
              <xs:element minOccurs="0" name="streetNumber" nillable="true" type="xs:string" />
              <xs:element minOccurs="0" name="positionText" nillable="true" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="Location">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:BasicLocation">
            <xs:sequence>
              <xs:element minOccurs="0" name="geoPosition" nillable="true" type="ns2:GeoPosition" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="BasicLocation">
        <xs:complexContent mixed="false">
          <xs:extension base="ns1:TransferObjectBase">
            <xs:sequence>
              <xs:element minOccurs="0" name="street" nillable="true" type="xs:string" />
              <xs:element minOccurs="0" name="postcode" nillable="true" type="xs:string" />
              <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
              <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="StreetAddress">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:StreetAddressIdentity">
            <xs:sequence>
              <xs:element name="name1" type="xs:string" />
              <xs:element minOccurs="0" name="name2" nillable="true" type="xs:string" />
              <xs:element minOccurs="0" name="name3" nillable="true" type="xs:string" />
              <xs:element minOccurs="0" name="info" type="xs:string" />
              <xs:element minOccurs="0" default="0" name="radius" type="xs:int" />
              <xs:element minOccurs="0" default="1" name="visible" type="xs:int" />
              <xs:element minOccurs="0" name="location" type="tns:DescribedLocation" />
              <xs:element minOccurs="0" name="contact" type="tns:ContactData" />
              <xs:element minOccurs="0" name="colour" nillable="true" type="tns:StreetAddressColour" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="DescribedLocation">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:Location">
            <xs:sequence>
              <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
              <xs:element minOccurs="0" name="addrRegion" nillable="true" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="ContactData">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:PhoneContact">
            <xs:sequence>
              <xs:element minOccurs="0" name="contactDisplayName" nillable="true" type="xs:string" />
              <xs:element minOccurs="0" name="fax" nillable="true" type="xs:string" />
              <xs:element minOccurs="0" name="emailStreetAddress" nillable="true" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="PhoneContact">
        <xs:complexContent mixed="false">
          <xs:extension base="ns1:TransferObjectBase">
            <xs:sequence>
              <xs:element minOccurs="0" name="phoneBusiness" nillable="true" type="xs:string" />
              <xs:element minOccurs="0" name="phoneMobile" nillable="true" type="xs:string" />
              <xs:element minOccurs="0" name="phonePersonal" nillable="true" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="CompleteLocationWithAdditionalInformation">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:CompleteLocation">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="additionalInformation" nillable="true" type="ns1:KeyValuePair" />
              <xs:element minOccurs="0" name="countryCode" nillable="true" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="StreetAddressToGroup">
        <xs:complexContent mixed="false">
          <xs:extension base="ns1:TransferObjectBase">
            <xs:sequence>
              <xs:element name="address" type="tns:StreetAddressIdentity" />
              <xs:element name="group" type="tns:StreetAddressGroup" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:simpleType name="StreetAddressColour">
        <xs:restriction base="xs:string">
          <xs:enumeration value="brightblue" />
          <xs:enumeration value="dullorange" />
          <xs:enumeration value="brightorange" />
          <xs:enumeration value="brightpalegreen" />
          <xs:enumeration value="grassgreen" />
          <xs:enumeration value="brightpurple" />
          <xs:enumeration value="darkred" />
          <xs:enumeration value="dullazure" />
          <xs:enumeration value="deeppurple" />
          <xs:enumeration value="brightazure" />
          <xs:enumeration value="orangehighlight" />
          <xs:enumeration value="brightgreen" />
          <xs:enumeration value="brightorangehighlight" />
          <xs:enumeration value="khaki" />
          <xs:enumeration value="paleblue" />
          <xs:enumeration value="turquoise" />
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="updateStreetAddress">
    <wsdl:part name="parameters" element="tns:updateStreetAddress" />
  </wsdl:message>
  <wsdl:message name="showStreetAddressGroupStreetAddressReportResponse">
    <wsdl:part name="parameters" element="tns:showStreetAddressGroupStreetAddressReportResponse" />
  </wsdl:message>
  <wsdl:message name="detachStreetAddressFromGroup">
    <wsdl:part name="parameters" element="tns:detachStreetAddressFromGroup" />
  </wsdl:message>
  <wsdl:message name="showStreetAddressGroupReport">
    <wsdl:part name="parameters" element="tns:showStreetAddressGroupReport" />
  </wsdl:message>
  <wsdl:message name="deleteStreetAddressResponse">
    <wsdl:part name="parameters" element="tns:deleteStreetAddressResponse" />
  </wsdl:message>
  <wsdl:message name="insertStreetAddressGroupResponse">
    <wsdl:part name="parameters" element="tns:insertStreetAddressGroupResponse" />
  </wsdl:message>
  <wsdl:message name="showStreetAddressGroupStreetAddressReport">
    <wsdl:part name="parameters" element="tns:showStreetAddressGroupStreetAddressReport" />
  </wsdl:message>
  <wsdl:message name="attachStreetAddressToGroup">
    <wsdl:part name="parameters" element="tns:attachStreetAddressToGroup" />
  </wsdl:message>
  <wsdl:message name="updateStreetAddressResponse">
    <wsdl:part name="parameters" element="tns:updateStreetAddressResponse" />
  </wsdl:message>
  <wsdl:message name="deleteStreetAddressGroup">
    <wsdl:part name="parameters" element="tns:deleteStreetAddressGroup" />
  </wsdl:message>
  <wsdl:message name="geocodeLocationResponse">
    <wsdl:part name="parameters" element="tns:geocodeLocationResponse" />
  </wsdl:message>
  <wsdl:message name="geocodeLocation">
    <wsdl:part name="parameters" element="tns:geocodeLocation" />
  </wsdl:message>
  <wsdl:message name="insertStreetAddressGroup">
    <wsdl:part name="parameters" element="tns:insertStreetAddressGroup" />
  </wsdl:message>
  <wsdl:message name="calcRouteSimple">
    <wsdl:part name="parameters" element="tns:calcRouteSimple" />
  </wsdl:message>
  <wsdl:message name="deleteStreetAddressGroupResponse">
    <wsdl:part name="parameters" element="tns:deleteStreetAddressGroupResponse" />
  </wsdl:message>
  <wsdl:message name="geocodeStreetAddressResponse">
    <wsdl:part name="parameters" element="tns:geocodeStreetAddressResponse" />
  </wsdl:message>
  <wsdl:message name="attachStreetAddressToGroupResponse">
    <wsdl:part name="parameters" element="tns:attachStreetAddressToGroupResponse" />
  </wsdl:message>
  <wsdl:message name="showStreetAddressReport">
    <wsdl:part name="parameters" element="tns:showStreetAddressReport" />
  </wsdl:message>
  <wsdl:message name="calcRouteSimpleResponse">
    <wsdl:part name="parameters" element="tns:calcRouteSimpleResponse" />
  </wsdl:message>
  <wsdl:message name="showStreetAddressReportResponse">
    <wsdl:part name="parameters" element="tns:showStreetAddressReportResponse" />
  </wsdl:message>
  <wsdl:message name="insertStreetAddress">
    <wsdl:part name="parameters" element="tns:insertStreetAddress" />
  </wsdl:message>
  <wsdl:message name="insertStreetAddressResponse">
    <wsdl:part name="parameters" element="tns:insertStreetAddressResponse" />
  </wsdl:message>
  <wsdl:message name="detachStreetAddressFromGroupResponse">
    <wsdl:part name="parameters" element="tns:detachStreetAddressFromGroupResponse" />
  </wsdl:message>
  <wsdl:message name="deleteStreetAddress">
    <wsdl:part name="parameters" element="tns:deleteStreetAddress" />
  </wsdl:message>
  <wsdl:message name="showStreetAddressGroupReportResponse">
    <wsdl:part name="parameters" element="tns:showStreetAddressGroupReportResponse" />
  </wsdl:message>
  <wsdl:message name="geocodeStreetAddress">
    <wsdl:part name="parameters" element="tns:geocodeStreetAddress" />
  </wsdl:message>
  <wsdl:portType name="address">
    <wsdl:operation name="showStreetAddressGroupReport">
      <wsdl:input name="showStreetAddressGroupReport" message="tns:showStreetAddressGroupReport" />
      <wsdl:output name="showStreetAddressGroupReportResponse" message="tns:showStreetAddressGroupReportResponse" />
    </wsdl:operation>
    <wsdl:operation name="deleteStreetAddress">
      <wsdl:input name="deleteStreetAddress" message="tns:deleteStreetAddress" />
      <wsdl:output name="deleteStreetAddressResponse" message="tns:deleteStreetAddressResponse" />
    </wsdl:operation>
    <wsdl:operation name="calcRouteSimple">
      <wsdl:input name="calcRouteSimple" message="tns:calcRouteSimple" />
      <wsdl:output name="calcRouteSimpleResponse" message="tns:calcRouteSimpleResponse" />
    </wsdl:operation>
    <wsdl:operation name="showStreetAddressGroupStreetAddressReport">
      <wsdl:input name="showStreetAddressGroupStreetAddressReport" message="tns:showStreetAddressGroupStreetAddressReport" />
      <wsdl:output name="showStreetAddressGroupStreetAddressReportResponse" message="tns:showStreetAddressGroupStreetAddressReportResponse" />
    </wsdl:operation>
    <wsdl:operation name="geocodeLocation">
      <wsdl:input name="geocodeLocation" message="tns:geocodeLocation" />
      <wsdl:output name="geocodeLocationResponse" message="tns:geocodeLocationResponse" />
    </wsdl:operation>
    <wsdl:operation name="insertStreetAddressGroup">
      <wsdl:input name="insertStreetAddressGroup" message="tns:insertStreetAddressGroup" />
      <wsdl:output name="insertStreetAddressGroupResponse" message="tns:insertStreetAddressGroupResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateStreetAddress">
      <wsdl:input name="updateStreetAddress" message="tns:updateStreetAddress" />
      <wsdl:output name="updateStreetAddressResponse" message="tns:updateStreetAddressResponse" />
    </wsdl:operation>
    <wsdl:operation name="deleteStreetAddressGroup">
      <wsdl:input name="deleteStreetAddressGroup" message="tns:deleteStreetAddressGroup" />
      <wsdl:output name="deleteStreetAddressGroupResponse" message="tns:deleteStreetAddressGroupResponse" />
    </wsdl:operation>
    <wsdl:operation name="detachStreetAddressFromGroup">
      <wsdl:input name="detachStreetAddressFromGroup" message="tns:detachStreetAddressFromGroup" />
      <wsdl:output name="detachStreetAddressFromGroupResponse" message="tns:detachStreetAddressFromGroupResponse" />
    </wsdl:operation>
    <wsdl:operation name="showStreetAddressReport">
      <wsdl:input name="showStreetAddressReport" message="tns:showStreetAddressReport" />
      <wsdl:output name="showStreetAddressReportResponse" message="tns:showStreetAddressReportResponse" />
    </wsdl:operation>
    <wsdl:operation name="attachStreetAddressToGroup">
      <wsdl:input name="attachStreetAddressToGroup" message="tns:attachStreetAddressToGroup" />
      <wsdl:output name="attachStreetAddressToGroupResponse" message="tns:attachStreetAddressToGroupResponse" />
    </wsdl:operation>
    <wsdl:operation name="geocodeStreetAddress">
      <wsdl:input name="geocodeStreetAddress" message="tns:geocodeStreetAddress" />
      <wsdl:output name="geocodeStreetAddressResponse" message="tns:geocodeStreetAddressResponse" />
    </wsdl:operation>
    <wsdl:operation name="insertStreetAddress">
      <wsdl:input name="insertStreetAddress" message="tns:insertStreetAddress" />
      <wsdl:output name="insertStreetAddressResponse" message="tns:insertStreetAddressResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="addressServiceSoapBinding" type="tns:address">
    <soap12:binding transport="http://www.w3.org/2003/05/soap/bindings/HTTP/" />
    <wsdl:operation name="showStreetAddressGroupReport">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input name="showStreetAddressGroupReport">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="showStreetAddressGroupReportResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="calcRouteSimple">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input name="calcRouteSimple">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="calcRouteSimpleResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteStreetAddress">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input name="deleteStreetAddress">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="deleteStreetAddressResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="showStreetAddressGroupStreetAddressReport">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input name="showStreetAddressGroupStreetAddressReport">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="showStreetAddressGroupStreetAddressReportResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="geocodeLocation">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input name="geocodeLocation">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="geocodeLocationResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertStreetAddressGroup">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input name="insertStreetAddressGroup">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="insertStreetAddressGroupResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteStreetAddressGroup">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input name="deleteStreetAddressGroup">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="deleteStreetAddressGroupResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateStreetAddress">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input name="updateStreetAddress">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="updateStreetAddressResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="detachStreetAddressFromGroup">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input name="detachStreetAddressFromGroup">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="detachStreetAddressFromGroupResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="showStreetAddressReport">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input name="showStreetAddressReport">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="showStreetAddressReportResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="attachStreetAddressToGroup">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input name="attachStreetAddressToGroup">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="attachStreetAddressToGroupResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="geocodeStreetAddress">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input name="geocodeStreetAddress">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="geocodeStreetAddressResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertStreetAddress">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input name="insertStreetAddress">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="insertStreetAddressResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="addressService">
    <wsdl:port name="addressPort" binding="tns:addressServiceSoapBinding">
      <soap12:address location="https://soap.business.tomtom.com/v1.13/addressService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>